In [12]:
# It should be relatively easy to set the entire thing up to analyze 10 runs
# There would be one df of the alignments then all the others... ideas ideas

In [13]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [14]:
import pandas as pd
import numpy as np

In [17]:
# Note how FFF is in no mods but not in mods 1 chidless parent FFF
test_no_mod = {'seq':['AAA', 'LLL', 'PPP', 'FFF'], 'rt':[1,2,3,4]}
no_mods = pd.DataFrame(test_no_mod)
no_mods

   seq  rt
0  AAA   1
1  LLL   2
2  PPP   3
3  FFF   4

In [21]:
# Quad repeat of alanine, double proline, matahced leucines, 2 orphans
test_mods = {'seq':['AAA', 'AAA', 'AAA', 'AAA', 'PPP', 'PPP', 'LLL', 'WWW', 'GGG'],
            'rt':[1,-3,4,5, 2, -10, 2, 100, 20]}
modded = pd.DataFrame(test_mods)
modded

   seq   rt
0  AAA    1
1  AAA   -3
2  AAA    4
3  AAA    5
4  PPP    2
5  PPP  -10
6  LLL    2
7  WWW  100
8  GGG   20

## Inner Join

In [ ]:
# Step 1 scrub every sequence with an unwanted modification or more than one proline mod
# Step 2 split into mod and non-modified
# Step 3 Perform the inner join on the two data frames

In [27]:
# Dropped the childless parents, dropped the orphans, mateched families properly !
# the default inner join is what you whant to use, 

'''
If seq in both do a merge ! The size will alwas be less than the parent sequences and more than the children
'''

inner_join_df = pd.merge(no_mods,modded,on='seq', how='inner')
inner_join_df

   seq  rt_x  rt_y
0  AAA     1     1
1  AAA     1    -3
2  AAA     1     4
3  AAA     1     5
4  LLL     2     2
5  PPP     3     2
6  PPP     3   -10

In [26]:
print(no_mods.shape)
print(modded.shape)
print(inner_join_df.shape)

(4, 2)
(9, 2)
(7, 3)

## Fun with sets !

In [6]:
# With 
s1 = set([1, 2, 3])
s2 = {2, 3, 4, 4, 4, 4,}
s3 = {3, 4, 5, 7}

# What from target appears in the others
print(s1.intersection(s2))
print(s3.intersection(s2, s3))
print("")

# what is in target set and not the others
print(s1.difference(s3))
print(s3.difference(s1))

# Symetric difference what do we all have in different
print(s1.symmetric_difference(s3))

{2, 3}
{3, 4}

{1, 2}
{4, 5, 7}
{1, 2, 4, 5, 7}